<!-- app/views/contacts/new.html.erb -->
<h1>Add a new contact</h1>

<form action="/contacts" method="POST">
  <div>
    <label for="contact_name">Name</label>
    <input type="text" name="contact[name]" id="contact_name">
  </div>

  <div>
    <label for="contact_address">Address</label>
    <input type="text" name="contact[addres]" id="contact_address">
  </div>

  <div>
    <label for="contact_phone_number">Phone number</label>
    <input type="text" name="contact[phone_number]" id="contact_phone_number">
  </div>

  <div>
    <label for="contact_email_address">Email address</label>
    <input type="text" name="contact[email_address]" id="contact_email_address">
  </div>

  <button type="submit">Add this contact</button>
</form>
